html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template:
    "nav" 50px
    "section" 1fr
    "footer";
 
 }

.nav {
  grid-area: nav;

}

.section {
  grid-area: section;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
}

.footer {
  grid-area: footer;
  height: 100px;
}

.contenedor__producto {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  height: 400px;
  border-radius: 10px;
  width: 100%;
  border: .5px solid #000;
  box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.626);
  margin-bottom: 10px;

}

.contenedor__producto__img {
  display: flex;
  padding: 10px;
  height: 200px;
  width: 100%;
}
.contenedor__producto__img img {
  object-fit: contain;
  border-radius: 10px;
}

.contenedor__producto__descripcion{
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  margin: 0 10px;
}

.contenedor__producto__descripcion__titulo{
  align-self: center;
  font-size: 25px;
}

.contenedor__producto__descripcion__p{
  text-align: center;
}

.contenedor__producto__descripcion__carrito{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.contenedor__producto__descripcion__carrito .precio{
  margin-top: 15px;
}

.contenedor__producto__descripcion__carrito .carro{
  text-decoration: none;
  padding: 5px;
}









