html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template:
    "nav" 50px
    "section" 1fr
    "footer";
   background-image: url("https://img.freepik.com/vector-gratis/fondo-minimalista-dibujado-mano_23-2148997841.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.nav {
  grid-area: nav;

}

.section {
  grid-area: section;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
}

.footer {
  grid-area: footer;
  height: 100px;
}

.contenedor__producto {
  display: flex;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  min-width: 350px;
  border: .5px solid #000;
  backdrop-filter: blur(5px);
  box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.626);
}

.contenedor__producto__img {
  display: flex;
  margin: 10px;
  height: 90%;
}
.contenedor__producto__img img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.contenedor__producto__descripcion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.contenedor__producto__descripcion__titulo {
    margin-left: 40%;
    height: 30px;
    font-size: 20px;
}

.contenedor__producto__descripcion__p {
    font-size: 15px;
    text-align: center;
    align-self: flex-start;
    margin-top: 20px;
}

.contenedor__producto__descripcion__carrito {
   position: absolute;
   left: 0;
   bottom: 0;
   margin: 10px;
}

.contenedor__producto__descripcion__carrito p{
    margin-bottom: 10px;
}

.contenedor__producto__descripcion__carrito .carro{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(47, 38, 38);
}