.contenedor{
  border: 1px solid red;
  margin: 50px auto;
  width: 450px;
  height: 500px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "header  header  header"
                       "nav     nav     nav"
                       "section section aside"
                       "section section aside"
                       "footer  footer  footer";
}

.contenedor .header{
  background: #e4f;
  grid-area: header;
  height: 50px;
}

.contenedor .nav{
  background: #4fe;
  grid-area: nav;
  height: 50px;
}

.contenedor .section{
  background: #7f3;
  grid-area: section;
}

.contenedor .aside{
  background: #756;
  grid-area: aside;
}

.contenedor .footer{
  background: #245;
  grid-area: footer;
}